<div class="mat-elevation-z8">
  <form [formGroup]="filterOrderForm" (ngSubmit)="onSubmit()">
    <div class="formgrouper">
      <label for="asc">Order:</label>
      <select id="asc" formControlName="asc">
        <option selected [value]="true">Ascending</option>
        <option [value]="false">Descending</option>
      </select>
  
      <label for="order">Order By:</label>
      <select id="order" formControlName="order">
        <option selected value="">-- select column --</option>
        <option *ngFor="let name of colKeys" [value]="name">
          {{ name }}
        </option>
      </select>
  
      <label for="delatnost">Delatnost:</label>
      <select id="delatnost" formControlName="delatnost">
        <option selected value="">-- select delatnost --</option>
        <option *ngFor="let name of delatnostiKeys" [value]="name">
          {{ name }}
        </option>
      </select>
    </div>
  
    <div class="formgrouper">
      <label for="sediste">Oznaka sedista:</label>
      <input id="sediste" type="text" formControlName="sediste" />
      <label for="mesto">Mesto:</label>
      <input id="mesto" type="text" formControlName="mesto" />
    </div>
  
    <div class="formgrouper">
      <button
        [disabled]="loading"
        type="submit"
        class="brutal-submit-button shadowed-box"
        Submit
      >
        Sort and Filter
      </button>
      <button
        type="button"
        class="shadowed-box green-button"
        (click)="resetFilters()"
      >
        Reset
      </button>
    </div>
  </form>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Search columns" (keyup)="FilterChange($event)">
    </mat-form-field>
    <table mat-table matSort [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="naziv">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Naziv </th>
        <td mat-cell *matCellDef="let company"> {{company.naziv}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="adresaSedista">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Adresa sedista </th>
        <td mat-cell *matCellDef="let company"> {{company.adresaSedista}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="delatnost">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Delatnost </th>
        <td mat-cell *matCellDef="let company"> {{company.delatnost}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="vlasnik">
        <th mat-header-cell *matHeaderCellDef> Vlasnik </th>
        <td mat-cell *matCellDef="let company"> {{company.vlasnik.name + " " + company.vlasnik.lastname }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="OpenPopup(row)" get *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[50]"
                   showFirstLastButtons>
    </mat-paginator>
</div>
  